{% load static %}

<div class="main" id="dashboard">
    <div class="card border-0 p-3 col-12 rounded">
        <div class="d-block d-md-flex align-items-center">
            <div class="d-block d-md-none col-12 text-center mb-3"><img src="{% static 'images/vector.png' %}" alt="vector image" class="img-fluid col-9"></div>
            <div class="col-12 col-md-8 px-4">
                <h4>Good Evening {{request.user.username}}</h4>
                <p>You were last seen on {{request.user.last_login}}</p>
            </div>
            <div class="d-none d-md-block col-md-4 text-center"><img src="{% static 'images/vector.png' %}" alt="vector image" class="img-fluid col-9"></div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2 g-3 col-12 mt-4 mx-0">
        <div class="col illness_today" style="height: fit-content;">

            <div class="card col-12 rounded p-3 border-0 text-center position-relative">
                <i class="fa-solid fa-viruses position-absolute top-0 start-0 p-3 fs-5"></i>
                <i class="fa-solid fa-viruses position-absolute top-0 end-0 p-3"></i>
                <small class="mt-3"><small>Infection of the day</small></small>
                <span class="fs-4 fw-semibold mb-3">{{infection_today.name}}</span>
                <small style="color: var(--text_color);">It is a {{infection_today.danger_level}} level disease. It's symptoms consist of {{infection_today.symptoms}}. The best way to treat it is with {{infection_today.prescription}}</small>
            </div>


            <!-- DOCTOR'S NOTE -->
            <div class="card col-12 rounded p-3 border-0 overflow-auto mt-3" style="max-height: 50vh;">
                <span class="fs-5 fw-semibold mt-3">Doctor's Notes</span>
                <ul class="list-group overflow-auto">
                    <li class="list-group-item border-0 mt-2 px-0 bg-transparent border-bottom">
                        <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique doloremque est officia culpa ipsum eveniet!</small>
                    </li>
                    <li class="list-group-item border-0 mt-2 px-0 bg-transparent border-bottom">
                        <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique doloremque est officia culpa ipsum eveniet!</small>
                    </li>
                </ul>
            </div>

        </div>

        <div class="col dashboard_bookings">
            <div class="card col-12 rounded p-3 border-0 position-relative" style="background: transparent; height: 50vh;">
                <span class="fs-5 fw-semibold">Your Bookings</span>
                <ul class="list-group mt-3 overflow-auto">
                    {% if appointment_summary %}
                    {% for appointment in appointment_summary %}
                    <li class="list-group-item border-0 py-3 px-0 bg-transparent border-bottom">
                        <span class="fw-semibold">{{appointment.reason}}</span>
                        <div class="d-flex justify-content-between">
                            <small>Dr. {{appointment.doctor}}</small>
                            <small><i class="fa-regular fa-calendar"></i> {{appointment.date}}</small>
                        </div>
                    </li>
                    {% endfor %}
                    {% else %}
                    <p class="py-5 text-center">
                        You have no appointments
                    </p>
                    {% endif %}
                    
                </ul>
                <a href="#bookings" class="btn text-primary position-absolute bottom-0 start-0 col-12" style="background: var(--card_bg_inclined);">View All</a>
            </div>
        </div>

    </div>
</div>